.items{
    text-align: center; /*item 요소를 inline-block으로 설정해줬기 때문에 text-align:center; 사용 가능*/
}
.item{
    display: inline-block;
    width: 300px;
    height: 300px;
    position: relative;   /*부모요소*/
    margin: 10px;
    border: 1px solid #ddd;
}
.caption{
    width: inherit;
    height: inherit;
    position: absolute;  /*자식요소*/
    top: 0;   /*부모요소의 가장 상단부터 자식요소 시작*/
    left: 0;  /*부모요소의 가장 왼쪽부터 자식요소 시작*/
    background-color: rgb(0, 0, 0 , 0.75);  /*0.75는 caption에 hover했을 때 배경이미지가 비쳐보이게 함*/
    color: #fff;
    padding: 40px;
    box-sizing: border-box;   /*padding을 추가해서 전체 div의 크기가 커지는 것을 방지*/
    opacity: 0;  /*display: none; 대신 opacity를 조정하는 방법을 사용해야 transition을 줄 수 있음*/
    transition: 0.5s;
}
.caption a{
    color: azure;
    background-color: teal;
    text-decoration: none;
}
.caption a:hover{
    color:black;
    background-color: #fff;
}
.item:hover .caption{
    opacity: 1;
}